<mat-sidenav-container>
  <mat-sidenav #sidenav
               [mode]="sidenavMode"
               [opened]="!isSmallScreen"
               [fixedInViewport]="true">
    <mat-toolbar color="primary">Actions</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item>Liste des comptes</a>
      <a mat-list-item>Virement</a>
      <a mat-list-item>Liste des clients</a>
    </mat-nav-list>
  </mat-sidenav>

    <mat-toolbar color="primary">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      Proxybank
    </mat-toolbar>
</mat-sidenav-container>

<button *ngIf="isSmallScreen"
        mat-mini-fab
        color="primary"
        class="sidenav-toggle"
        [@growInOut]="'in'"
        (click)="sidenav.toggle()">
  <mat-icon>view_list</mat-icon>
</button>
